<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Mangement</title>
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    <div class="container">
        <h1>User Login</h1>
        <div class="sign-box">
            <div class="logo"><img src="img/logo.png" alt=""></div>
            <div class="sign-in">
                <form action="/" method="post">
                    <input type="text" name="username" placeholder="Enter username">
                    <input type="password" name="password" placeholder="Enter Password">
                    <div class="submitBtn">
                        <button type="submit">Signin</button>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <p><a href="#">Fotgot Password?</a></p>
            <p>Don't have an account <a href="signup">Sign up here</a></p>
        </footer>
    </div>

</body>

</html>