body {
    background-image: url('../img/bg-img.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(172, 65, 229);
}

.sign-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    padding: 30px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('../public/img/logo.png');
    background-position: center;
    background-size: cover; */
    /* background-color: aliceblue; */
}

.logo img {
    margin-bottom: 50px;
    width: 100px;
    height: 100px;
    animation: logo .8s infinite;
}

@keyframes logo {
    0% {
        width: 30px;
        height: 30px;
    }
    50% {
        width: 60px;
        height: 60px;
    }
    100% {
        width: 90px;
        height: 90px;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 280px;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
    background-color: lightblue;
    padding-left: 10px;
    font-size: 16px;
}

input::placeholder {
    padding: 10px;
}

.submitBtn {
    font-size: 20px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 20px;
}

.submitBtn button {
    width: 300px;
    height: 40px;
    box-shadow: 10px 10px 42px 20px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #FFD700;
    font-size: large;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

footer {
    margin: 40px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    padding: 20px;
    font-size: 18px;
}

footer p a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 20px;
}